main {
  padding: 24px;
}

mat-spinner {
  display: block;
  margin: 24px auto;
}

#article-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > mat-card {
    cursor: pointer;
  }
}

.drawer-container {
  margin: auto;
  max-width: 1360px;
}

.drawer {
  width: 400px;
}

.drawer-content {
  // padding-right: 24px;
}
