mat-tab-nav-panel {
}

mat-spinner {
  display: block;
  margin: 24px auto;
}

#article-list {
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  gap: 12px;

  & > mat-card {
    cursor: pointer;
  }
}
