<table mat-table [dataSource]="users() || []">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>نام و نام‌خانوادگی</th>
    <td mat-cell *matCellDef="let user">
      {{ user.firstName }} {{ user.lastName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>تلفن</th>
    <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef>ایمیل</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>شهر</th>
    <td mat-cell *matCellDef="let user">{{ user.city }}</td>
  </ng-container>

  <ng-container matColumnDef="job">
    <th mat-header-cell *matHeaderCellDef>تخصص</th>
    <td mat-cell *matCellDef="let user">{{ user.job }}</td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>رمز ورود</th>
    <td mat-cell *matCellDef="let user">
      <span eng ltr copyClipboard>
        {{ user.password }}
      </span>
      <button mat-icon-button (click)="resetPassword(user)" class="reset-password">
        <i class="fa-regular fa-rotate fa-xs"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="maxDevice">
    <th mat-header-cell *matHeaderCellDef>تعداد دستگاه</th>
    <td mat-cell *matCellDef="let user">
      @if (user.subscription) {
        <button mat-stroked-button (click)="changeMaxDevice(user)">
          {{ user.subscription.maxActiveDevices }}
        </button>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="expired">
    <th mat-header-cell *matHeaderCellDef>تاریخ انقضا</th>
    <td mat-cell *matCellDef="let user">
      @if (user.subscription) {
        <button mat-stroked-button (click)="changeExpiration(user)">
          {{ user.subscription.expiredAt | pdate }}
        </button>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="activationCode">
    <th mat-header-cell *matHeaderCellDef>کد فعال‌سازی</th>
    <td mat-cell *matCellDef="let user">
      @if (user.subscription) {
        <span eng>
          {{ user.subscription.activationCode }}
        </span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>تاریخ ثبت‌نام</th>
    <td mat-cell *matCellDef="let user">
      {{ user.createdAt | pdate: true }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="viewDevices(user)">
        <i class="fa-solid fa-laptop-mobile"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
