<mat-toolbar fxLayout="row" fxLayoutGap="8px">
  <button mat-icon-button goBack>
    <i class="fa-regular fa-angle-left"></i>
  </button>
  <h1 fxFlex>{{ contentsQuery.data()?.name }}</h1>
</mat-toolbar>
<main p-md>
  @if (contentsQuery.data()?.sections) {
    <mat-accordion>
      @for (section of contentsQuery.data()?.sections; track $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ section.name }} </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="items-wrapper">
            @for (item of section.items; track $index) {
              <div>
                <a mat-button href="{{ item.url }}">
                  {{ item.name }}
                </a>
              </div>
            }
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  } @else {
    <div class="items-wrapper multi-col">
      @for (item of items(); track $index) {
        <div>

          <a mat-button href="{{ item.url }}">{{ item.name }}</a>
          <br />
          <br />
        </div>
      }
    </div>
  }
</main>
