@use '../public/fonts/fontawesome/scss/fontawesome.scss';

@use '../public/fonts/iransans/iransans.scss';
@use '../public/fonts/fontawesome/scss/regular.scss';
@use '../public/fonts/fontawesome/scss/brands.scss';
@use '../public/fonts/fontawesome/scss/solid.scss';
@use '../public/fonts/fontawesome/scss/light.scss';
@use '../public/fonts/fontawesome/scss/thin.scss';
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: IRANSans,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: IRANSans, 'Helvetica Neue', sans-serif;
}

*[p-md] {
  padding: 16px;
}

*[w-xs] {
  max-width: 600px !important;
  margin: auto;
}

*[w-sm] {
  max-width: 960px !important;
  margin: auto;
}

*[w-md] {
  max-width: 1024px !important;
  margin: auto;
}

*[center-align] {
  text-align: center;
}
