<ul class="items-container">
  <li class="item">
    <a class="item__link" href="/interactions">
      <img src="icons/drug.svg" alt="">
      <span>Drug Interactions</span>
    </a>
  </li>
  <li class="item">
    <a class="item__link" href="/contents/table-of-contents/patient-education">
      <img src="icons/patient-education.svg" alt="">
      <span>Patient Education</span>
    </a>
  </li>
  <li class="item">
    <a class="item__link" href="/calculators">
      <img src="icons/calculators.svg" alt="">
      <span>Calculators</span>
    </a>
  </li>
</ul>


