<form
  (ngSubmit)="login(passwordInput.value, $event)"
  fxLayout="column"
  fxLayoutGap="24px"
>
  <mat-card class="surface-background">
    <mat-card-content fxLayout="column" fxLayoutGap="16">
      <h2>Sign in</h2>
      <b>Password</b>
      <p>enter your password.</p>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input #passwordInput matInput type="password" [readonly]="loading()" />
      </mat-form-field>

      <mat-checkbox [(ngModel)]="saveLogin" name="saveLogin">
        Remember me (save login for 30 days)
      </mat-checkbox>

      <button id="action" type="submit" [disabled]="loading()" mat-flat-button>
        continue
      </button>
      <button
        type="button"
        [disabled]="loading()"
        mat-button
        (click)="loginWithOtp()"
      >
        login with otp token
      </button>
    </mat-card-content>
  </mat-card>
</form>
