mat-drawer-container {
  height: calc(100vh - 96px);

  mat-drawer {
    width: 360px;
    border-right: 1px solid var(--sys-outline);
    border-radius: 0;

    div.wrapper {
      height: 100%;
    }

    .left-add {
      background-color: var(--sys-on-primary);
    }

    .left-toolbar {
      background-color: var(--sys-on-primary);
      gap: 4px;
    }
  }

  .analyze-btn {
    height: 40px;
    border-radius: 4px;
  }

  .clear-btn {
    background-color: white;
    color: var(--sys-primary);
    font-size: 14px;
    margin: 4px;
    padding: 4px;
    font-weight: 400;
    height: 40px;
  }

  mat-drawer-content {
    background-color: var(--sys-on-primary);
    padding: 20px 36px 20px 36px;
  }
}

.small-text {
  font-size: 14px;
}
