mat-card {
  position: relative;
  overflow: hidden;

  #actions {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
}

::ng-deep #outline-content {
  max-height: 400px;
  // overflow-y: auto;
  background-color: var(--sys-on-error);
    #outlineSections{
      background-color: white;
      h2 {
        font-size: 18px;
        line-height: 5px;
        margin: 2px 16px 5px;
        padding: 6px 0;
        border-bottom: none;
        color: var(--sys-inverse-surface);
    }
    #innerOutline {
      font-weight: 400;
      padding: 0 !important;
      margin: 0
    }
    }
    #innerOutline li {
      border-bottom: none;
      border-top: 1px solid var(--sys-inverse-on-surface);
      padding: 6px 2px 6px 20px;
      margin: 0;
    }
    #innerOutline li a {
      text-decoration: none;
      color: var(--sys-outline)
    }
    
    #innerOutline li a:hover{
      color: var(--sys-primary);
    }
    #innerOutline li ul{
      padding: 0 !important;
      margin: 0
    }
    #innerOutline li ul li{
      border-top: none;
      list-style-type: none;
      padding: 6px 2px 6px 20px;
      margin: 0;
    }
    #innerOutline li ul li a:hover{
      color: var(--sys-primary);
    }

    #outlineRelatedGraphicsLinks {
      background-color: var(--sys-on-error);
      h2 {
        font-size: 18px;
        line-height: 5px;
        margin: 2px 16px 5px;
        padding: 16px 0 4px 0;
        border-bottom: none;
        color: var(--sys-inverse-surface);
    }
    #outlineGraphics{
      font-weight: 400;
      padding: 0 !important;
      margin: 0
    }
    }
    #outlineGraphics ul{
      padding: 0;
    }
    #outlineGraphics li {
      border-bottom: none;
      border-top: 1px solid var(--sys-inverse-on-surface);
      padding: 6px 2px 6px 20px;
      margin: 0;
      list-style-type: none;
    }
    #outlineGraphics li div a {
      text-decoration: none;
      color: var(--sys-outline);
    }
    #outlineGraphics li div a:hover{
      color: var(--sys-primary);
    }
    #outlineGraphics ul li ul li {
      border: none;
    }
    #outlineGraphics ul li ul li a {
      text-decoration: none;
      color: var(--sys-outline)
    }

    #outlineGraphics ul li ul li a:hover{
      color: var(--sys-primary);
    }

    #outlineRelatedTopicsLinks{
      background-color: var(--sys-on-error);
      h2 {
        font-size: 18px;
        line-height: 5px;
        margin: 2px 16px 5px;
        padding: 16px 0 4px 0;
        border-bottom: none;
        color: var(--sys-inverse-surface);
    }
    #outlineTopics{
      font-weight: 400;
      padding: 0 !important;
      margin: 0
    }
    #outlineTopics li {
      border-bottom: none;
      border-top: 1px solid var(--sys-inverse-on-surface);
      padding: 6px 2px 6px 20px;
      margin: 0;
      list-style-type: none;
    }
    #outlineTopics li a {
      text-decoration: none;
      color: var(--sys-outline);
    }

    #outlineTopics li a:hover{color: var(--sys-primary);}
    }
    }