mat-toolbar {
  position: sticky;
  top: 56px;
  z-index: 100;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

mat-sidenav {
  border-radius: 0 !important;
}

@media print {
  mat-sidenav-content {
    margin-left: 0 !important;
  }
}

article {
  padding: 32px;
  //background add
  background-color: var(--mat-sys-on-primary);
  max-width: 100%;

  @media screen and (max-width: 959px) {
    padding: 12px;
  }

  &.fa {
    font-family: Vazirmatn;
    direction: rtl;
  }
}

nav {
  &.fa {
    font-family: Vazirmatn;
  }
}

h1 {
  font-weight: 800;
}

::ng-deep nav.nav-body {
  background-color: var(--mat-sys-on-primary);

  h2 {
    font-size: 20px;
    padding: 0 16px;
    border-bottom: none;
    color: var(--mat-sys-on-surface-variant);
    margin: 0;
  }

  a {
    color: var(--mat-sys-outline);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer !important;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;

    li {
      padding: 8px 16px;
      border-bottom: 1px solid var(--mat-sys-outline-variant);
      display: block;
    }
  }

  a:hover {
    color: var(--mat-sys-primary);
  }

  //remove li border
  ul li > ul li {
    border: none;
  }

  section {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    h2 {
      font-size: 20px;
      line-height: 8px;
      padding: 0 16px;
      border-bottom: none;
      color: var(--mat-sys-on-surface-variant);
    }
    ul {
      li {
        border: none;
      }
    }
  }

  // & ul {
  //   border-top: 1px solid var(--mat-sys-outline-variant);
  // }
}

//content style

::ng-deep .content-body {
  .headingAnchor {
    padding-top: 32px;
    border-top: 1px solid #ddd;
    margin-top: 32px;
  }

  .h1 {
    font-size: 18px;
    font-weight: 700;

    & + .headingEndMark {
      display: none;
    }
  }

  .breakAll {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
  }

  p {
    font-weight: 400; //change from 300 to 400
    line-height: 24px;
    word-wrap: break-word;
  }

  table {
    font-size: 12px;
  }

  div,
  p,
  li {
    word-wrap: break-word;
  }

  a {
    text-decoration: none;
    color: var(--mat-sys-primary);
    word-wrap: break-word;
    cursor: pointer !important;
  }

  //link border add
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border-bottom-color 0.25s ease-in-out;
  }

  .authorSectionElem {
    background-color: var(--mat-sys-primary-container) !important;
    font-size: 12px;
    //style add
    display: flex;
    position: relative;
    align-items: center;

    @media screen and (max-width: 959px) {
      display: none !important;
    }

    @media print {
      display: none !important;
    }
  }

  //when not sign in
  .authorSectionElem {
    margin: 0;
    display: flex;
    flex-direction: row;
    .authorsElementsLeft {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 16px;
    }
  }
  dl {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
    font-size: 14px;
    width: 50%;
    margin-top: -2px;
  }
  dt {
    padding-right: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-variant: all-small-caps;
    letter-spacing: 2px;
    color: #232323;
  }
  dd {
    margin: 0;
    grid-column-start: 2;
  }

  .literatureReviewDate {
    line-height: 20px;
    border-top: 1px solid var(--mat-sys-outline-variant);
    padding-top: 8px;
  }

  //login-signin banner

  .subscribeMessage {
    // text-align: center !important;
    border: 1px solid var(--mat-sys-outline) !important;
    border-radius: 0 !important;
    margin: 20px 0 !important;
    background: var(--mat-sys-surface-container-lowest) !important;
    padding: 0 !important;
    font-size: 16px;
    filter: none !important;
    p {
      font-weight: 450;
      padding: 32px 32px 0 32px;
      line-height: 24px;
    }
    ul {
      text-decoration: none;
      text-align: start;
      padding: 0 48px 24px 48px;
      li {
        text-decoration: none;
        list-style-type: none;
        line-height: 24px;
      }
    }
  }

  //when signin**********
  // .authorsElementsLeft {
  //   display: flex;
  //   width: 100%;
  //   padding: 16px;
  // }

  // dl {
  //   display: grid;
  //   grid-gap: 4px 16px;
  //   grid-template-columns: max-content;
  //   font-size: 14px;
  //   width: 50%;
  //   margin-top: -2px;
  // }
  // dt {
  //   padding-right: 5px;
  //   font-size: 14px;
  //   line-height: 18px;
  //   font-weight: 600;
  //   text-transform: uppercase;
  //   font-variant: all-small-caps;
  //   letter-spacing: 2px;
  //   color: #232323;
  // }
  // dd {
  //   margin: 0;
  //   grid-column-start: 2;
  // }

  // .authorsElementsLeft > div {
  //   width: 50%;
  //   font-size: 14px;
  //   line-height: 20px;
  // }

  .headingAnchor {
  }

  .bulletIndent1 {
    margin-inline-start: 24px;
  }

  .glyph {
    margin-inline-end: 16px;
  }

  //more style
  .topicTitle {
    font-weight: 500;
    display: block;
    font-size: x-large;
    text-align: center;
    padding-bottom: 24px;
  }

  .disclaimer {
    margin: 16px 0 8px;
    padding: 6px;
    line-height: 24px;
    color: var(--mat-sys-on-surface-variant);
    border: 1px solid var(--mat-sys-shadow);
    background-color: var(--mat-sys-surface-variant);
  }

  .utd-inline-graphic__container {
    @media screen and (min-width: 960px) {
      float: inline-end;
      padding-inline-start: 24px;
      padding-block-end: 24px;
    }

    a {
      width: 160px;
      padding: 8px;
      gap: 8px;
      border: 1px solid var(--mat-sys-outline-variant);
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}
