@if (contentQuery.isLoading()) {
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    style="padding: 24px"
  >
    <mat-spinner [diameter]="32" />
    @if (showTranslation()) {
      <label>it will take a minute to translate...</label>
    }
  </div>
} @else {
  <mat-toolbar fxLayout="row" fxLayoutGap="8px" class="not-printable">
    <button mat-icon-button goBack>
      <i class="fa-regular fa-angle-left"></i>
    </button>
    <button mat-stroked-button (click)="sidenav.open()" [fxHide.gt-sm]="true">
      view outline
    </button>
    <h1 [fxHide.lt-md]="true">{{ title() }}</h1>
    <span fxFlex></span>
    <button
      mat-icon-button
      routerLink="../print/{{ id() }}"
    >
      <i class="fa-solid fa-file-arrow-down"></i>
    </button>
    @if (!showTranslation()) {
      <button mat-flat-button class="green-theme" (click)="translate()">
        <i
          class="fa-solid fa-sparkles"
          [class.fa-spin]="
            contentQuery.data()?.translatedAt &&
            !contentQuery.data()?.translatedBodyHtml
          "
        ></i>
        AI translation
      </button>
    } @else {
      <button mat-stroked-button (click)="showTranslation.set(false)">
        view original
      </button>
    }
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      [opened]="!isSmallScreen"
      [disableClose]="!isSmallScreen"
      [mode]="isSmallScreen ? 'over' : 'side'"
      class="not-printable"
      fixedInViewport
      [fixedTopGap]="56+64"
      #sidenav
    >
      <nav
        class="nav-body"
        [innerHTML]="outlineHtml() | safeHtml"
        [class.fa]="showTranslation()"
      ></nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <article
        fxFlex
        class="content-body printable"
        id="topicContainer"
        fxFlex
        [class.fa]="showTranslation()"
      >
        @if (contentQuery.data()) {
          <div
            id="topicContent"
            class="utdArticleSection"
            [innerHTML]="bodyHTML() | safeHtml"
          ></div>
        }
      </article>
    </mat-sidenav-content>
  </mat-sidenav-container>
}
