@if (contentQuery.isLoading()) {
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    style="padding: 24px"
  >
    <mat-spinner [diameter]="32" />
    @if (showTranslation()) {
      <label>it will take a minute to translate...</label>
    }
  </div>
} @else {
  <mat-toolbar fxLayout="row" fxLayoutGap="8px">
    <button mat-icon-button goBack>
      <i class="fa-regular fa-angle-left"></i>
    </button>
    <h1 fxFlex>{{ title() }}</h1>
    @if (!showTranslation()) {
      <button mat-flat-button class="tertiary-button" (click)="translate()">
        <i
          class="fa-solid fa-sparkles"
          [class.fa-spin]="
            contentQuery.data()?.translatedAt &&
            !contentQuery.data()?.translatedBodyHtml
          "
        ></i>
        AI translation
      </button>
    } @else {
      <button mat-stroked-button (click)="showTranslation.set(false)">
        view original
      </button>
    }
  </mat-toolbar>
  <main fxLayout="row">
    <nav
      fxFlex="360px"
      class="nav-body"
      [innerHTML]="outlineHtml() | safeHtml"
      [class.fa]="showTranslation()"
    ></nav>
    <mat-divider [vertical]="true" />
    <article
      fxFlex
      class="content-body"
      id="topicContainer"
      fxFlex
      [class.fa]="showTranslation()"
    >
      @if (contentQuery.data()) {
        <div
          id="topicContent"
          class="utdArticleSection"
          [innerHTML]="bodyHTML() | safeHtml"
        ></div>
      }
    </article>
  </main>
}
