article {
  padding: 32px;
}

mat-spinner {
  margin: 64px auto;
}

::ng-deep nav.nav-body {
  top: 0;
  position: sticky;
  max-height: 100vh;
  overflow-y: auto;

  a {
    color: var(--sys-outline);
    text-decoration: none;
    font-size: 14px;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 16px;

    li {
      padding: 8px 0;
    }
  }

  // & ul {
  //   border-top: 1px solid var(--sys-outline-variant);
  // }
}

::ng-deep .content-body {
  .headingAnchor {
    padding-top: 32px;
    border-top: 1px solid #ddd;
    margin-top: 32px;
  }

  //content style
  
  .h1 {
    font-size: 18px;
    font-weight: 700;

    & + .headingEndMark {
      display: none;
    }
  }

  p {
    font-weight: 300;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    color: var(--sys-primary);
  }

  .authorSectionElem {
    background-color: var(--sys-primary-container) !important;
    font-size: 12px;
  }

  .bulletIndent1 {
    margin-inline-start: 24px;
  }

  .glyph {
    margin-inline-end: 16px;
  }
}
