html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    'Noto Sans',
    'Noto Kufi Arabic',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

