<form
  p-md
  w-xs
  fxLayout="column"
  fxLayoutAlign="center stretch"
  center-align
  [formGroup]="loginForm"
  (ngSubmit)="submit()"
>
  <h1>ورود به پنل مدیریت</h1>
  <mat-form-field>
    <mat-label>نام کاربری</mat-label>
    <input matInput ltr eng formControlName="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>رمز عبور</mat-label>
    <input matInput ltr eng formControlName="password" type="password" />
  </mat-form-field>

  <button mat-flat-button>ورود</button>
</form>
