<mat-card>
  <mat-card-content>
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      class="tertiary-tabs"
    >
      <mat-tab label="history">
        @if (historyQuery?.data()) {
          <mat-nav-list>
            @for (history of historyQuery.data(); track $index) {
              <a
                mat-list-item
                routerLink="/contents/{{ history.content.queryStringId }}"
              >
                {{ history.content.title }}
              </a>
            }
          </mat-nav-list>
        }
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
