<div class="container" fxLayout="column">
  <p>Items(s)</p>
  <mat-form-field appearance="outline" id="search-field">
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectItem($event.option.value)"
    >
      @for (drug of searchQuery.data(); track drug.id) {
        <mat-option [value]="drug">
          {{ drug.name }}
        </mat-option>
      }
    </mat-autocomplete>

    @if (searchQuery.isLoading()) {
      <div style="padding: 0 16px" matSuffix>
        <i class="fa-regular fa-circle-notch fa-lg fa-spin"></i>
      </div>
    } @else {
      <i matSuffix class="fa-regular fa-search fa-lg search-icon"></i>
    }
  </mat-form-field>
</div>
