<div class="container" fxLayout="column">
  <p>Items(s)</p>
  <mat-form-field appearance="outline" id="search-field">
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectItem($event.option.value)"
    >
      @for (drug of searchQuery.data(); track drug.id) {
      <mat-option [value]="drug">
        {{ drug.name }}
      </mat-option>
      }
    </mat-autocomplete>

    <i matPrefix class="fa-regular fa-search fa-lg search-icon"></i>

    <button
      mat-flat-button
      matSuffix
      id="search-button"
      [disabled]="!searchQuery.data() && searchQuery.isLoading()"
      class="primary-background on-primary-text"
    >
      @if (!searchQuery.isLoading()) { Add } @else {
      <i class="fa-regular fa-circle-notch fa-lg fa-spin"></i>
      }
    </button>
  </mat-form-field>
</div>
