.res-table {
    margin-top: 20px;
    .table-row {
        margin-left: auto;
        margin-right: auto;
        tr{
            display: flex;
            flex-direction: row;
            .table-data{
                width: 220px;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid var(--sys-tertiary-container);
                border-collapse: collapse;
                .demo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    i {
                        color: black;
                    }
                }
                
                .table-mark{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 24px;
                    height: 30px;
                    font-size:20px;
                    font-weight:400;
                    color: white;
                    
                }
                .mark-X{
                    background-color: var(--sys-error);
                }
                .mark-C{
                    background-color: #f8d130;
                }
                .mark-A {
                    background-color: var(--sys-surface-container-low);
                    color: var(--sys-primary-fixed-dim);
                }
                .mark-D{
                    background-color: #ff8d00;
                    color: white;
                }
                .mark-B{
                    background-color: var(--sys-surface-container-low);
                    color: #7ed321;
                }
                .mark-K {
                    background-color: var(--sys-outline-variant);
                }
                .table-title{
                    padding-left: 6px;
                    font-size: 14px;
                }
                .desc {
                    font-style: italic;
                }
                
            }
        }
    }
}
.hover {
    cursor: pointer;
}
.hide {
    display: none;
}
.hover:hover + .hide {
    display: block;
}