<h3 matDialogTitle>Set Your Password</h3>
<mat-dialog-content fxLayout="column">
  <p>
    You currently don’t have a password set for your account. Please create a
    secure password to protect your account and enable full access.
  </p>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      matInput
      placeholder="Enter your new password"
      [formControl]="passwordControl"
      [disabled]="mutation.isPending()"
      type="password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="Re-enter your new password"
      [formControl]="confirmPasswordControl"
      [disabled]="mutation.isPending()"
      type="password"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    type="submit"
    [disabled]="mutation.isPending()"
    (click)="save()"
  >
    Set Password
  </button>
</mat-dialog-actions>
