<div class="container">
  <img id="logo" src="icons/typo-logo.svg" />
  <mat-form-field appearance="outline" id="search-field">
    <mat-label>{{ 'search.label' | translate }}</mat-label>

    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of searchQuery.data()"
        [value]="option"
        routerLink="result"
        [queryParams]="{ query: option }"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <button
      mat-fab
      matSuffix
      id="search-button"
      [disabled]="!searchQuery.data() && searchQuery.isLoading()"
      class="primary-background on-primary-text"
    >
      @if (!searchQuery.isLoading()) {
        <i class="fa-regular fa-search fa-lg"></i>
      } @else {
        <i class="fa-regular fa-circle-notch fa-lg fa-spin"></i>
      }
    </button>
  </mat-form-field>

  <p id="description" class="tertiary">
    <b>UpToDate content is protected by copyright</b> and owned and/or licensed
    by UpToDate, Inc. By accessing or using UpToDate content, you accept the
    terms and conditions of the CE Terms of Use, which prohibit the use,
    training, inputting or processing of UpToDate content by or into automated
    software or tools, including, but not limited to, artificial intelligence
    solutions, algorithms, machine learning, and/or large language models.
  </p>

  <app-history-card />

  <a
    referrerpolicy="origin"
    target="_blank"
    href="https://trustseal.enamad.ir/?id=529165&Code=cd0sBDwlzaBec4uVt88Vx9z5HCaEZ55W"
    ><img
      referrerpolicy="origin"
      src="https://trustseal.enamad.ir/logo.aspx?id=529165&Code=cd0sBDwlzaBec4uVt88Vx9z5HCaEZ55W"
      alt=""
      style="cursor: pointer"
      code="cd0sBDwlzaBec4uVt88Vx9z5HCaEZ55W"
  /></a>
</div>
