<div>
  <div class="bg-up-to-date">
    <img id="logo" src="icons/typo-logo.svg" />

    <div class="search__container">
      <div class="search__box">
        <input
          [placeholder]="'search.label' | translate "
          id="search-field"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          (keydown)="searchControlKeyDown($event)"/>

        <mat-autocomplete #auto="matAutocomplete">
          @for (option of searchQuery.data(); track option) {
            <mat-option
              [value]="option"
              routerLink="result"
              [queryParams]="{ query: option }"
            >
              {{ option }}
            </mat-option>
          }
        </mat-autocomplete>
        <button
          mat-fab
          id="search-button"
          [disabled]="!searchQuery.data() && searchQuery.isLoading()"
          (click)="gotToSearchPage()"
        >
          @if (!searchQuery.isLoading()) {
            <i class="fa-regular fa-search fa-lg"></i>
          } @else {
            <i class="fa-regular fa-circle-notch fa-lg fa-spin"></i>
          }
        </button>
      </div>
      <ul id="search-tab">
        <li [matMenuTriggerFor]="historyMenu" style="cursor: pointer;">
          History
        </li>
        <li>
          Most Viewed
        </li>
        <li>
          Bookmarks
        </li>
      </ul>
    </div>
  </div>

  <p id="description" class="tertiary">
    <b>UpToDate content is protected by copyright</b> and owned and/or licensed
    by UpToDate, Inc. By accessing or using UpToDate content, you accept the
    terms and conditions of the CE Terms of Use, which prohibit the use,
    training, inputting or processing of UpToDate content by or into automated
    software or tools, including, but not limited to, artificial intelligence
    solutions, algorithms, machine learning, and/or large language models.
  </p>

  <mat-menu #historyMenu="matMenu" >
    <div (click)="$event.stopPropagation()" style="width: 400px">
      <app-history-card></app-history-card>
    </div>
  </mat-menu>

  <app-search-content></app-search-content>
</div>
