<form (ngSubmit)="setToken($event)">
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="16px">
      <h2>Sign in</h2>
      <b>Otp code</b>
      <p>enter otp code sent to your phone number {{ phone }}</p>
      <mat-form-field>
        <mat-label>code</mat-label>
        <input
          [formControl]="otpFormControl"
          matInput
          type="tel"
          [readonly]="loading()"
        />
        @if(time()) {
        <mat-hint>code expires in {{ time() }} seconds.</mat-hint>
        } @else {
        <mat-hint class="error-text">code is expired.</mat-hint>
        }
      </mat-form-field>

      @if (time()) {
      <button type="submit" [disabled]="loading()" mat-flat-button>
        Sign in
      </button>
      } @else {
      <button
        type="button"
        [disabled]="loading()"
        mat-flat-button
        class="error-button"
        (click)="sendTokenAgain()"
      >
        send code again @if (loading()) { ... }
      </button>
      }
    </mat-card-content>
  </mat-card>
</form>
