<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    mode="side"
    [opened]="!!auth.user"
    disableClose
  >
    @if (auth.user) {
      <nav fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
        <button mat-icon-button routerLink="/users" matTooltip="کاربران">
          <i class="fa-solid fa-user"></i>
        </button>
        <button
          mat-icon-button
          routerLink="/codes"
          matTooltip="کد‌های فعالسازی"
        >
          <i class="fa-solid fa-barcode"></i>
        </button>
        <button
          mat-icon-button
          routerLink="/uptodate-accounts"
          matTooltip="اکانت‌های آپتودیت"
        >
          <i class="fa-solid fa-key"></i>
        </button>
      </nav>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
