<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    mode="side"
    [opened]="!!auth.user"
    disableClose
  >
    @if (auth.user) {
      <nav fxLayout="column" fxLayoutAlign="center center">
        <button mat-icon-button routerLink="/users">
          <i class="fa-solid fa-user"></i>
        </button>
      </nav>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
