<form [formGroup]="form" (ngSubmit)="save()">
  <h3 matDialogTitle>Choose Your Subscription Plan</h3>
  <mat-dialog-content fxLayout="column">
    @if (!auth.isProfileComplete) {
      <p>
        Select the plan that best suits your needs. Enjoy uninterrupted access
        across multiple devices with flexible subscription periods.
      </p>
    }
    <mat-form-field>
      <mat-label>Subscription Period</mat-label>
      <mat-select formControlName="days" required>
        <mat-option [value]="HALF_YEAR_DAYS">6 Months</mat-option>
        <mat-option [value]="YEARLY_DAYS">1 Year</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Maximum Active Devices</mat-label>
      <mat-select formControlName="maxDevice" required>
        <mat-option [value]="1">1 Device</mat-option>
        <mat-option [value]="2">2 Devices</mat-option>
      </mat-select>
      <mat-hint> How many devices can be used at same time. </mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Discount Coupon Code</mat-label>
      <input
        #couponInput
        matInput
        [formControl]="couponCodeControl"
        [disabled]="!!couponQuery.data()"
      />
      @if (!couponQuery.isLoading() && couponQuery.data()) {
        <button
          mat-button
          matSuffix
          class="error-button"
          (click)="couponCodeControl.reset()"
          type="button"
        >
          remove
        </button>
      }
      @if (couponQuery.isLoading()) {
        <i matSuffix class="fa-regular fa-circle-notch fa-lg fa-spin"></i>
      } @else if (couponQuery.data()) {
        <mat-hint>
          Save {{ couponQuery.data()?.percentageValue }}% with this coupon!
        </mat-hint>
      }
      <mat-error>code is invalid</mat-error>
    </mat-form-field>
    @if (price() > -1) {
      <br />
      <br />
      <b> Your Price is {{ price() | number }} Rials </b>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" (click)="haveCodeClick()">
      I have activation code
    </button>
    @if (!data?.force) {
      <button mat-button mat-dialog-close type="button">cancel</button>
    }
    <button mat-flat-button type="submit" [disabled]="mutation.isPending()">
      Pay
      @if (price() > -1) {
        {{ price() | number }} Rials
      }
    </button>
  </mat-dialog-actions>
</form>
