.res-link {
  margin: 16px 0 4px 0;
}
.res {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .res-result {
    display: inline-flex;
    gap: 6px;
    font-weight: 600;
    color: var(--sys-scrim);
  }
}
#filter-button {
  border-radius: 4px;
  border-color: black;
  border: 1px solid;
  padding: 0 4px 0 4px;
}

.res-desc {
  font-weight: 600;
  color: var(--sys-scrim);
}

.mat-mdc-list-item {
  border: 1px solid var(--sys-tertiary-container);
  border-collapse: collapse;
  display: flex;
  gap: 2px;
  padding-left: 2px;
  padding-right: 2px;
  height: 55px;
  .list-item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 2px;
    // height: 40px;
    .risk {
      width: 25px;
    }
    .risk-desk {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.mark-X {
  color: #ff0000;
}
.mark-C {
  color: #f8d02f;
}
.mark-A {
  color: #20b3d2;
}
.mark-D {
  color: #ff8d01;
}
.mark-B {
  color: #7ed321;
}
