a {
    color: var(--sys-primary);
    font-weight: 500;
    text-decoration: none;
}

.res-link {
    margin: 16px 0 4px 0;
    
}
.res {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .res-result {
        display: inline-flex;
        gap: 6px;
        font-weight: 600;
        color: var(--sys-scrim);

    }

}
#filter-button {
    border-radius: 4px;
      border-color: black;
      border: 1px solid;
      padding: 0 4px 0 4px;
}

.res-desc {
    font-weight: 600;
    color: var(--sys-scrim);
}

mat-list-item {
    border: 1px solid var(--sys-tertiary-container);
    border-collapse: collapse;
    a {
        font-weight: 400;
    }
}
