@use '@angular/material' as mat;
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 56px;
}
#primary-toolbar {
  gap: 16px;
  height: 56px;
  background-color: var(--mat-sys-surface);

  #logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  #typo {
    height: 24px;
    cursor: pointer;
  }

  h2 {
    flex: 1;
  }

  &.primary-theme {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);

    button i {
      color: var(--mat-sys-on-primary);
    }
  }
}

#secondary-toolbar {
  height: 40px;
  background-color: var(--mat-sys-primary);
}

main {
  min-height: calc(100vh - 96px);
}
