mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
#primary-toolbar {
  gap: 16px;
  height: 56px;

  #logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  #typo {
    height: 24px;
    cursor: pointer;
  }

  h2 {
    flex: 1;
  }
}

#secondary-toolbar {
  height: 40px;
}

main {
  height: calc(100vh - 96px)
}
