<mat-toolbar>
  <mat-toolbar-row
    id="primary-toolbar"
    class="form-theme background-background"
  >
    <img routerLink="/" id="logo" src="icons/wheel-icon.svg" id="logo" />
    <img routerLink="/" id="typo" src="icons/typo-logo.svg" />
    <h2></h2>
    @if (auth.isProfileComplete) {
      @if (!auth.user?.subscription) {
        <button
          mat-flat-button
          (click)="openSubscriptionForm()"
          class="error-button"
        >
          No Subscription
        </button>
      }
      <button mat-stroked-button (click)="openProfile()">
        <i class="fa-solid fa-user"></i>
        {{ auth.user?.firstName }}
        {{ auth.user?.lastName }}
      </button>
    }
  </mat-toolbar-row>
  <mat-toolbar-row class="primary-background" id="secondary-toolbar">
    <button mat-flat-button [matMenuTriggerFor]="contentsMenu">
      Contents
      <i class="fa-regular fa-angle-down"></i>
    </button>
    <a mat-flat-button routerLink="/calculators"> Calculators </a>
    <a mat-flat-button routerLink="/interactions"> Drug Interactions </a>
    <a mat-flat-button> UpToDate Pathways </a>
    <mat-menu #contentsMenu="matMenu">
      <a mat-menu-item routerLink="/contents/table-of-contents/whats-new"> What's New </a>
      <a mat-menu-item routerLink="/contents/practice-changing-updates"> Practice Changing UpDates </a>
      <a mat-menu-item routerLink="/contents/table-of-contents/drug-information"> Drug Information </a>
      <a mat-menu-item routerLink="/contents/table-of-contents/patient-education"> Patient Education </a>
      <a mat-menu-item routerLink="/articles"> Topics by Specialty </a>
      <a mat-menu-item routerLink="/articles"> Authors and Editors </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
