<mat-toolbar class="not-printable">
  <mat-toolbar-row
    id="primary-toolbar"
    ngClass="form-theme background-background"
    ngClass.lt-md="primary-theme"
  >
    <img routerLink="/" id="logo" src="icons/wheel-icon.svg" id="logo" />
    <img
      [fxHide.lt-md]="true"
      routerLink="/"
      id="typo"
      src="icons/typo-logo.svg"
    />
    <app-searchbar />
    <h2></h2>
    <button
      mat-icon-button
      [fxHide.gt-sm]="true"
      [matMenuTriggerFor]="mainMenu"
    >
      <i class="fa-regular fa-bars"></i>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item (click)="openProfile()">
        <i class="fa-solid fa-user mat-icon"></i>
        Dr.
        {{ auth.user?.firstName }}
        {{ auth.user?.lastName }}
      </button>
      @if (!auth.user?.subscription) {
        <button
          mat-menu-item
          (click)="openSubscriptionForm()"
          class="error-button"
        >
          No Subscription
        </button>
      } @else if (remainDays() <= 0) {
        <button mat-menu-item (click)="openSubscriptionForm()">
          Subscription Expired
        </button>
      } @else {
        <button mat-menu-item (click)="openSubscriptionForm()">
          Subscription: {{ remainDays() }} days remaining
        </button>
      }
      <mat-divider />
      <button mat-menu-item [matMenuTriggerFor]="contentsMenu">Contents</button>
      <a mat-menu-item routerLink="/calculators"> Calculators </a>
      <a mat-menu-item routerLink="/interactions"> Drug Interactions </a>
      <a mat-menu-item> UpToDate Pathways </a>
      <mat-divider />
      @if (!pwa.isStandalone && pwa.deferredPrompt) {
        <button mat-menu-item (click)="pwa.install()">Download Pwa App</button>
      }
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <div fxLayout="row" fxLayoutGap="8px" [fxHide.lt-md]="true">
      @if (!pwa.isStandalone && pwa.deferredPrompt) {
        <button mat-flat-button (click)="pwa.install()">
          <i class="fa-solid fa-download"></i>
          Download Pwa App
        </button>
      }
      @if (auth.isProfileComplete) {
        @if (!auth.user?.subscription) {
          <button
            mat-flat-button
            (click)="openSubscriptionForm()"
            class="error-button"
          >
            No Subscription
          </button>
        } @else if (remainDays() <= 0) {
          <button
            mat-flat-button
            (click)="openSubscriptionForm()"
            class="error-button"
          >
            Expired
          </button>
        } @else {
          <button mat-stroked-button (click)="openSubscriptionForm()">
            Subscription: {{ remainDays() }} days remaining
          </button>
        }
        <button mat-stroked-button [matMenuTriggerFor]="profileMenu">
          <i class="fa-solid fa-user"></i>
          Dr.
          {{ auth.user?.firstName }}
          {{ auth.user?.lastName }}
        </button>

        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="openProfile()">Edit profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      }
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row id="secondary-toolbar" [fxHide.lt-md]="true">
    <button mat-flat-button [matMenuTriggerFor]="contentsMenu">
      Contents
      <i class="fa-regular fa-angle-down"></i>
    </button>
    <a mat-flat-button routerLink="/calculators"> Calculators </a>
    <a mat-flat-button routerLink="/interactions"> Drug Interactions </a>
    <a mat-flat-button> UpToDate Pathways </a>
    <mat-menu #contentsMenu="matMenu">
      <a mat-menu-item routerLink="/contents/table-of-contents/whats-new">
        What's New
      </a>
      <a mat-menu-item routerLink="/contents/practice-changing-updates?topicId=16722">
        Practice Changing UpDates
      </a>
      <a
        mat-menu-item
        routerLink="/contents/table-of-contents/drug-information"
      >
        Drug Information
      </a>
      <a
        mat-menu-item
        routerLink="/contents/table-of-contents/patient-education"
      >
        Patient Education
      </a>
      <a mat-menu-item routerLink="/contents/table-of-contents">
        Topics by Specialty
      </a>
      <a mat-menu-item routerLink="/articles"> Authors and Editors </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
