@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );
}

.green-theme {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
    )
  );
}

html,
body {
  min-height: 100%;
  background-color: var(--mat-sys-surface);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*[p-md] {
  padding: 16px;
}

.mat-calendar {
  font-family: 'Vazirmatn' !important;
}

mat-card {
  background-color: white !important;
}
