@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Noto Sans,
    )
  );
}

.green-theme {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Noto Sans,
    )
  );
}

html,
body {
  min-height: 100%;
  background-color: var(--mat-sys-surface);
}
body {
  margin: 0;
  font-family:
    Noto Sans,
    Noto Kufi Arabic,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

*[p-md] {
  padding: 16px;
}

.mat-calendar {
  font-family: 'Vazirmatn' !important;
}

mat-card {
  background-color: white !important;
}

@media print {
  .not-printable {
    display: none !important;
  }
}

//I'm not sure it's working on Mozilla FireFox or not, Because I dont have FireFox
@media only screen and (min-width: 768px) {
  .mat-mdc-menu-panel:has(app-history-card) {
    max-width: unset !important;
  }
}
