@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Noto Sans,
    )
  );
}

.green-theme {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Noto Sans,
    )
  );
}

html,
body {
  min-height: 100%;
  background-color: var(--mat-sys-surface);
}
body {
  margin: 0;
  font-family:
    Noto Sans,
    Noto Kufi Arabic,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

*[p-md] {
  padding: 16px;
}

.mat-calendar {
  font-family: 'Vazirmatn' !important;
}

mat-card {
  background-color: white !important;
}

@media print {
  .not-printable {
    display: none !important;
  }
}
