/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

:root {
  // Fix ripple colors somehow
  .mat-ripple-element {
    background-color: var(--mat-ripple-color, rgba(0, 0, 0, 0.1)) !important;
  }
}

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$green-palette,
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

@mixin setTheme($theme) {
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);

  .tertiary-button {
    @include mat.button-color($theme, $color-variant: tertiary);
  }

  .error-button {
    @include mat.button-color($theme, $color-variant: error);
  }

  .tertiary-fab {
    @include mat.fab-color($theme, $color-variant: tertiary);
  }
}

html,
body {
  @include setTheme($light-theme);

  .mat-mdc-card {
    background-color: white;
  }
}
